---
import Layout from "@layouts/root.astro";

import Hero from "@partials/home/hero.astro";
import Services from "@partials/home/services.astro";
import About from "@partials/home/about.astro";
---

<Layout>
    <main class="flex-1">
        <Hero />
        <Services />
        <About />
    </main>
</Layout>
