---
import Layout from "@layouts/root.astro";

import Hero from "@partials/home/hero.astro";
import Services from "@partials/home/services.astro";
import Mission from "@partials/home/mission.astro";
import Contact from "@partials/home/contact.astro";
---

<Layout>
    <main class="flex-1">
        <Hero/>
        <Services/>
        <Mission/>
        <Contact/>
    </main>
</Layout>
