---
import Layout from "../layouts/root.astro";

import Hero from "./(home)/_hero.astro";
import Services from "./(home)/_services.astro";
import Mission from "./(home)/_mission.astro";
import Contact from "./(home)/_contact.astro";
---

<Layout>
    <main class="flex-1">
        <Hero/>
        <Services/>
        <Mission/>
        <Contact/>
    </main>
</Layout>
