---
import BlogLayout from "@layouts/blogLayout.astro";
---

<BlogLayout>
    <h1 class="text-4xl font-semibold mb-5">Press</h1>
    <p class="text-lg">There are no press posts yet...</p>
</BlogLayout>
